<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
    <link rel="stylesheet" href="{% static "otp/css/otp.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container height-100 d-flex justify-content-center align-items-center">
        <div class="position-relative">
            <div class="card p-2 text-center">
                <h6>Please enter the one time password <br> to verify your account</h6>
                <div> <span>A code has been sent to the registered email</span> </div>
                <div id="otp" > 
                            {% if messages %}
                            <ul class="messages" style="list-style-type:none; color: blue;">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <input class="m-2 text-center form-control rounded" type="text" id="first" name="otp" maxlength="6" required/>
                        <div class="mt-4"> <input type="submit" value="Validate" class="btn btn-danger px-4 validate"></div>
                    </form>
                    <div class="mt-4"><a href="{% url "home:resent_otp" %}"><button  class="btn btn-success px-4 validate">Resent OTP</button></a></div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="{% static "otp/js/otp.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
