<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>FOOT PRIME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static "home/assets/img/apple-icon.png" %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "home/images/logo1.png" %}">

    <link rel="stylesheet" href="{% static "home/assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "home/assets/css/templatemo.css" %}">
    <link rel="stylesheet" href="{% static "home/assets/css/custom.css" %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static "home/assets/css/fontawesome.min.css" %}">
</head>
<body>
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <a class="text-light" href="#"  rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="#"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="#"> <i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="#"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class='image-fluid' href=""><img width="90px" src="{% static "home/images/logo1.png" %}" alt=""></a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "home:home" %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "home:about" %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "home:shop" %}">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "home:contact" %}">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <a class="nav-icon position-relative text-decoration-none" href="{% url "wallet:wallet" %}">
                        <i class="fa fa-fw fa-wallet text-dark mr-2"></i>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="{% url "wishlist:wishlist" %}">
                        <i class="fa fa-fw fa-heart text-dark mr-2"></i>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="{% url "cart_management:cart" %}">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="{% url "user_profile:user_profile" %}">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="{% url "home:signin" %}">
                        {% if user.is_active %}
                        {% comment %} <p style="display: inline;" class="nav-icon position-relative text-decoration-none" href="{% url "home:signin" %}">
                            <b>{{uname}}</b>
                        </p> {% endcomment %}
                        {% else %}
                        <p style="display: inline;" class="nav-icon position-relative text-decoration-none" href="{% url "home:signin" %}">
                            Signin | Signup
                        </p>
                        {% endif %}
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="{% url "home:signout" %}">
                        {% if user.is_active %}
                        <p style="display: inline;" class="nav-icon position-relative text-decoration-none" href="{% url "home:signin" %}">
                            <b>Signout</b>
                        </p>
                        {% endif %}
                    </a>
        
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->
    <header class="bg-secondary text-light text-center py-4">
        <h1>Your Wallet</h1>
    </header>    

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Balance :</h3>
                        <p class="card-text">₹{{balance}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% if messages %}
        <ul class="messages" style="list-style-type: none; color: red;">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% comment %} <div class="row mt-4">
            <div class="col-md-8 mx-auto">
                <h3>Transaction History</h3>
                <ul class="list-group">
                    <!-- Transaction items will go here -->
                    <li class="list-group-item">Transaction 1 - $100.00</li>
                    <li class="list-group-item">Transaction 2 - $50.00</li>
                    <!-- Add more transaction items as needed -->
                </ul>
            </div>
        </div> {% endcomment %}
    </div>


    <!-- Start Script -->
    <script src="{% static "home/assets/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "home/assets/js/jquery-migrate-1.2.1.min.js" %}"></script>
    <script src="{% static "home/assets/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "home/assets/js/templatemo.js" %}"></script>
    <script src="{% static "home/assets/js/custom.js" %}"></script>
    <!-- End Script -->
</body>
</html>